# DataFrame indexing, slicing
- loc -> 명시적인 인덱싱
- iloc -> numerical 인덱싱

In [1]:
import pandas as pd
import numpy as np

In [3]:
population_dict = {
    'korea': 5180,
    'japan': 12718,
    'china': 141500,
    'usa': 32676
}
population = pd.Series(population_dict)
print(population, "\n")

print("GDP series data:")
gdp_dict = {
    'korea': 169320000,
    'japan': 516700000,
    'china': 1409250000,
    'usa': 2041280000,
}
gdp = pd.Series(gdp_dict)
print(gdp, "\n")


# 이곳에서 2개의 시리즈 값이 들어간 데이터프레임을 생성합니다.
print("Country DataFrame")
country = pd.DataFrame({
'population':population,
'gdp':gdp
})
print(country)

korea      5180
japan     12718
china    141500
usa       32676
dtype: int64

GDP series data:
korea     169320000
japan     516700000
china    1409250000
usa      2041280000
dtype: int64

Country DataFrame
       population         gdp
korea        5180   169320000
japan       12718   516700000
china      141500  1409250000
usa         32676  2041280000

In [9]:
print(country.loc["korea":"japan"])

       population        gdp
korea        5180  169320000
japan       12718  516700000

In [5]:
print(country.iloc[0:2])

       population        gdp
korea        5180  169320000
japan       12718  516700000

In [10]:
print(country.loc["korea":"japan",:"population"])

       population
korea        5180
japan       12718

In [8]:
print(country.iloc[0:2,:2])

       population        gdp
korea        5180  169320000
japan       12718  516700000