In [3]:
import numpy as np
import pandas as pd

In [4]:
print("A: ")
A = pd.DataFrame(np.random.randint(0, 10, (2, 2)), columns=['A', 'B'])      #칼럼이 A, B입니다.
print(A, "\n")


print("B: ")
B = pd.DataFrame(np.random.randint(0, 10, (3, 3)), columns=['B', 'A', 'C'])     #칼럼이 B, A, C입니다.
print(B, "\n")


# 덧셈
print(A+B)
print(A.add(B,fill_value=0))

# 곱셈
print(A.mul(B,fill_value=1))

# 뺄셈
print(A.sub(B,fill_value=0))
# 나눗셈
print(A.div(B,fill_value=1))

A:
   A  B
0  8  4
1  3  7

B:
   B  A  C
0  8  5  3
1  4  1  1
2  9  1  3

      A     B   C
0  13.0  12.0 NaN
1   4.0  11.0 NaN
2   NaN   NaN NaN
      A     B    C
0  13.0  12.0  3.0
1   4.0  11.0  1.0
2   1.0   9.0  3.0
      A     B    C
0  40.0  32.0  3.0
1   3.0  28.0  1.0
2   1.0   9.0  3.0
     A    B    C
0  3.0 -4.0 -3.0
1  2.0  3.0 -1.0
2 -1.0 -9.0 -3.0
     A         B         C
0  1.6  0.500000  0.333333
1  3.0  1.750000  1.000000
2  1.0  0.111111  0.333333

In [5]:
data = pd.DataFrame(columns=['이름','나이','주소','전화번호'])
print(data)

Empty DataFrame
Columns: [이름, 나이, 주소, 전화번호]
Index: []

In [10]:
data.loc[0] = ['철수',20,'서울시','01012341234']
data.loc[1] = ['영희',20,'서울시',None]
print(data)

   이름  나이   주소         전화번호
0  철수  20  서울시  01012341234
1  영희  20  서울시         None

In [14]:
print(data.isnull())
print(data.notnull())

      이름     나이     주소   전화번호
0  False  False  False  False
1  False  False  False   True
     이름    나이    주소   전화번호
0  True  True  True   True
1  True  True  True  False

In [12]:
print(data.fillna("01012321123"))

   이름  나이   주소         전화번호
0  철수  20  서울시  01012341234
1  영희  20  서울시  01012321123

In [13]:
print(data.dropna())

   이름  나이   주소         전화번호
0  철수  20  서울시  01012341234